<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="skt.eiweb.admin.mapper.AdminMapper">

    <select id="selectUserLoginHistory" parameterType="skt.eiweb.admin.model.LoginHistoryDto" resultType="skt.eiweb.admin.model.LoginHistoryDto">
        SELECT * FROM (
            SELECT @rnum := @rnum + 1 AS no, TAB.* FROM (
                SELECT DATE_FORMAT(login_date, "%Y-%m-%d %H:%i:%S") login_date, 
                       login_date ord, 
                       hist.user_id,
                       fn_get_user_name(hist.user_id) user_name,
                       session,
                       fn_get_code_name('PERMISSION', usr.user_permission) user_group
                  FROM login_history hist LEFT OUTER JOIN user usr ON usr.user_id = hist.user_id 
                 WHERE 1 = 1
                <if test="schKey != null">
                   AND (hist.user_id LIKE CONCAT('%', #{schKey}, '%') OR user_name LIKE CONCAT('%', #{schKey}, '%'))
                </if>
                <if test="startDate != null and endDate != null">
                   AND login_date BETWEEN STR_TO_DATE(CONCAT(#{startDate}, '000000'), '%Y%m%d%H%i%S') AND STR_TO_DATE(CONCAT(#{endDate}, '235959'), '%Y%m%d%H%i%S')
                </if>
                <if test="userPermission != null">
                   AND (fn_get_code_name('PERMISSION', usr.user_permission) LIKE CONCAT('%', #{userPermission}, '%')
                    OR usr.user_permission LIKE CONCAT('%', #{userPermission}, '%'))
                </if>
            ) TAB, (SELECT @rnum :=0) B
          ORDER BY ord DESC
        ) OTAB
         WHERE no BETWEEN (((#{page} - 1) * #{pageCount}) + 1) AND (#{page} * #{pageCount})
    </select>
    
    <select id="selectUserLoginHistoryTotalCount" parameterType="skt.eiweb.admin.model.LoginHistoryDto" resultType="int">
        SELECT COUNT(*) totalCount 
          FROM login_history hist LEFT OUTER JOIN user usr ON usr.user_id = hist.user_id 
         WHERE 1 = 1
        <if test="schKey != null">
           AND (hist.user_id LIKE CONCAT('%', #{schKey}, '%') OR user_name LIKE CONCAT('%', #{schKey}, '%'))
        </if>
        <if test="startDate != null and endDate != null">
           AND login_date BETWEEN STR_TO_DATE(CONCAT(#{startDate}, '000000'), '%Y%m%d%H%i%S') AND STR_TO_DATE(CONCAT(#{endDate}, '235959'), '%Y%m%d%H%i%S')
        </if>
        <if test="userPermission != null">
           AND (fn_get_code_name('PERMISSION', usr.user_permission) LIKE CONCAT('%', #{userPermission}, '%')
            OR usr.user_permission LIKE CONCAT('%', #{userPermission}, '%'))
        </if>
    </select>
    
    <select id="selectServiceCreHistory" parameterType="skt.eiweb.service.model.ServiceCreHistory" resultType="skt.eiweb.service.model.ServiceCreHistoryDto">
        SELECT * FROM (
            SELECT @rnum := @rnum + 1 AS no, TAB.* FROM (
                SELECT DATE_FORMAT(creation_date, "%Y-%m-%d") creationDate, 
                       creation_date ord, 
                       fn_get_user_name(svc.user_id) userName, 
                       service_id, 
                       service_name, 
                       svc.model_id, 
                       md.model_name, 
                       svc.run_cycle, 
                       svc.service_group_name
                  FROM service_cre_history svc LEFT OUTER JOIN model md ON svc.model_id = md.model_id 
                 WHERE 1 = 1
                <if test="serviceId != null">
                   AND service_id = #{serviceId}
                </if>
                <if test="schKey != null">
                   AND (service_name LIKE CONCAT('%', #{schKey}, '%')
                    OR fn_get_user_name(svc.user_id) LIKE CONCAT('%', #{schKey}, '%')
                    OR md.model_name LIKE CONCAT('%', #{schKey}, '%'))
                </if>
            ) TAB, (SELECT @rnum :=0) B
          ORDER BY ord DESC
        ) OTAB
         WHERE no BETWEEN (((#{page} - 1) * #{pageCount}) + 1) AND (#{page} * #{pageCount})
    </select>
    
    <select id="selectServiceCreHistoryTotalCount" parameterType="skt.eiweb.service.model.ServiceCreHistory" resultType="int">
        SELECT COUNT(*) totalCount 
          FROM service_cre_history svc LEFT OUTER JOIN model md ON svc.model_id = md.model_id 
         WHERE 1 = 1
        <if test="schKey != null">
           AND (service_name LIKE CONCAT('%', #{schKey}, '%')
            OR fn_get_user_name(svc.user_id) LIKE CONCAT('%', #{schKey}, '%')
            OR md.model_name LIKE CONCAT('%', #{schKey}, '%'))
        </if>
    </select>

    <select id="selectServiceExecHistory" parameterType="skt.eiweb.service.model.ServiceExecHistory" resultType="skt.eiweb.service.model.ServiceExecHistoryDto">
        SELECT * FROM (
            SELECT @rnum := @rnum + 1 AS no, TAB.*
              FROM (
                  SELECT SVCH.service_name, 
                         SVCH.service_id, 
                         SVCH.service_group_name, 
                         SVCH.transaction_id, 
                         SVC.dag_id,
                         DATE_FORMAT(SVCH.start_date, "%Y-%m-%d %H:%i:%S") start_date,
                         DATE_FORMAT(SVCH.end_date, "%Y-%m-%d %H:%i:%S") end_date,
                         CASE WHEN SVCH.end_date is NULL THEN TIMESTAMPDIFF(SECOND,  SVCH.start_date, NOW()) ELSE TIMESTAMPDIFF(SECOND, SVCH.start_date, SVCH.end_date) END elapsed,
                         SVCH.service_status,
                         SVCH.result_path,
                         SVCH.execute_date ord
                    FROM SERVICE_EXEC_HISTORY SVCH, SERVICE SVC, MODEL MD
                   WHERE SVCH.service_id = SVC.service_id
                     AND SVCH.model_id = MD.model_id AND SVC.model_id = MD.model_id
                  <if test="serviceId != null">
                     AND SVCH.service_id = #{serviceId}
                  </if>
                  <if test="serviceGroupName != null">
                     AND SVCH.service_group_name = #{serviceGroupName} 
                  </if>
                  <if test="serviceStatus != null">
                    <if test="serviceStatus == 'success'">
                     AND SVCH.service_status = 'success'
                    </if>
                    <if test="serviceStatus != 'success'">
                     AND SVCH.service_status != 'success'
                    </if>
                  </if>
                  <if test="schKey != null">
                     AND (SVCH.service_name LIKE CONCAT('%', #{schKey}, '%') OR SVC.dag_id LIKE CONCAT('%', #{schKey}, '%'))
                  </if>
                  <if test="startDate != null and endDate != null">
                     AND SVCH.start_date BETWEEN STR_TO_DATE(CONCAT(#{startDate}, '000000'), '%Y%m%d%H%i%S') AND STR_TO_DATE(CONCAT(#{endDate}, '235959'), '%Y%m%d%H%i%S')
                  </if>
                   ORDER BY ord DESC
              ) TAB, (SELECT @rnum := 0) B
         ) OTAB
         WHERE no BETWEEN (((#{page} - 1) * #{pageCount}) + 1) AND (#{page} * #{pageCount})
    </select>

    <select id="selectServiceExecHistoryTotalCount" parameterType="skt.eiweb.service.model.ServiceExecHistory" resultType="int">
        SELECT COUNT(*) totalCount
          FROM service_exec_history svch, service svc, model md
         WHERE svch.service_id = svc.service_id 
           AND svch.model_id = md.model_id 
           AND svc.model_id = md.model_id
         <if test="serviceId != null">
           AND svch.service_id = #{serviceId}
         </if>
         <if test="serviceGroupName != null">
           AND svch.service_group_name = #{serviceGroupName}
         </if>
         <if test="serviceStatus != null">
           <if test="serviceStatus == 'success'">
           AND svch.service_status = 'success'
           </if>
           <if test="serviceStatus != 'success'">
           AND svch.service_status != 'success'
           </if>
         </if>
         <if test="schKey != null">
           AND (svch.service_name LIKE CONCAT('%', #{schKey}, '%')
            OR svc.dag_id LIKE CONCAT('%', #{schKey}, '%'))
         </if>
         <if test="startDate != null and endDate != null">
           AND svch.start_date BETWEEN STR_TO_DATE(CONCAT(#{startDate}, '000000'), '%Y%m%d%H%i%S') AND STR_TO_DATE(CONCAT(#{endDate}, '235959'), '%Y%m%d%H%i%S')
         </if>
    </select>

    <select id="selectRestExecHistory" parameterType="skt.eiweb.admin.model.RestExecHistory" resultType="skt.eiweb.admin.model.RestExecHistoryDto">
        SELECT * FROM (
            SELECT @rnum := @rnum + 1 AS no, TAB.* FROM (
                SELECT DATE_FORMAT(execute_date, "%Y-%m-%d") execute_date, 
                       execute_date ord, 
                       fn_get_user_name(reh.user_id) userName,
                       reh.user_id, 
                       service_id, 
                       service_name, 
                       reh.model_id,
                       md.model_name,
                       run_cycle, 
                       resource_group_id, 
                       success, 
                       DATE_FORMAT(elapsed_time, "%Y-%m-%d") elapsed_time
                  FROM rest_exec_history reh LEFT OUTER JOIN model md ON reh.model_id = md.model_id 
                 WHERE 1 = 1
                <if test="schKey != null">
                   AND (reh.service_name LIKE CONCAT('%', #{schKey}, '%')
                    OR fn_get_user_name(reh.user_id) LIKE CONCAT('%', #{schKey}, '%')
                    OR md.model_name LIKE CONCAT('%', #{schKey}, '%'))
                </if>
            ) TAB, (SELECT @rnum :=0) B
          ORDER BY ord DESC
        ) OTAB
         WHERE no BETWEEN (((#{page} - 1) * #{pageCount}) + 1) AND (#{page} * #{pageCount})
    </select>

    <select id="selectRestExecHistoryTotalCount" parameterType="skt.eiweb.admin.model.RestExecHistory" resultType="int">
        SELECT COUNT(*) totalCount
          FROM rest_exec_history reh LEFT OUTER JOIN model md ON reh.model_id = md.model_id 
         WHERE 1 = 1
        <if test="schKey != null">
           AND (reh.service_name LIKE CONCAT('%', #{schKey}, '%')
            OR fn_get_user_name(reh.user_id) LIKE CONCAT('%', #{schKey}, '%')
            OR md.model_name LIKE CONCAT('%', #{schKey}, '%'))
        </if>
    </select>

    <select id="selectResourceGroupList" parameterType="skt.eiweb.admin.model.ResourceGroup" resultType="skt.eiweb.admin.model.ResourceGroupDto">
        SELECT * FROM (
            SELECT @rnum := @rnum + 1 AS no, TAB.* FROM (
                SELECT DATE_FORMAT(create_date, "%Y-%m-%d") create_date, 
                       create_date ord, 
                       resource_group_id, 
                       resource_group_name, 
                       resource_cpu, 
                       user_id,
                       fn_get_user_name(user_id) userName 
                  FROM resource_group WHERE 1 = 1
                <if test="schKey != null">
                   AND (resource_group_name LIKE CONCAT('%', #{schKey}, '%')
                    OR fn_get_user_name(user_id) LIKE CONCAT('%', #{schKey}, '%'))
                </if>
                <if test="resourceGroupId != null">
                   AND resource_group_id = #{resourceGroupId}
                </if>
            ) TAB, (SELECT @rnum :=0) B
          ORDER BY ord DESC
        ) OTAB
         WHERE no BETWEEN (((#{page} - 1) * #{pageCount}) + 1) AND (#{page} * #{pageCount})
    </select>

    <select id="selectResourceGroupAllList" parameterType="skt.eiweb.admin.model.ResourceGroup" resultType="skt.eiweb.admin.model.ResourceGroupDto">
        SELECT DATE_FORMAT(create_date, "%Y-%m-%d") create_date, 
               resource_group_id, resource_group_name, resource_cpu, user_id,
               fn_get_user_name(user_id) userName 
          FROM resource_group 
         WHERE 1 = 1
        <if test="schKey != null">
           AND (resource_group_name LIKE CONCAT('%', #{schKey}, '%')
            OR fn_get_user_name(user_id) LIKE CONCAT('%', #{schKey}, '%'))
        </if>
    </select>

    <select id="selectResourceGroupListTotalCount" parameterType="skt.eiweb.admin.model.ResourceGroup" resultType="int">
        SELECT COUNT(*) totalCount 
          FROM resource_group 
         WHERE 1 = 1
        <if test="schKey != null">
           AND (resource_group_name LIKE CONCAT('%', #{schKey}, '%')
            OR fn_get_user_name(user_id) LIKE CONCAT('%', #{schKey}, '%'))
        </if>
    </select>

    <insert id="insertResourceGroup" parameterType="skt.eiweb.admin.model.ResourceGroup">
        INSERT INTO resource_group 
               (resource_group_name, resource_cpu, create_date, user_id)
        VALUES (#{resourceGroupName}, #{resourceCpu}, current_timestamp, #{userId})
    </insert>

    <update id="updateResourceGroup" parameterType="skt.eiweb.admin.model.ResourceGroup">
        UPDATE resource_group 
           SET resource_group_name = #{resourceGroupName}, resource_cpu = #{resourceCpu}
         WHERE resource_group_id = #{resourceGroupId}
    </update>

    <delete id="deleteResourceGroup" parameterType="skt.eiweb.admin.model.ResourceGroup">
        DELETE FROM resource_group WHERE resource_group_id = #{resourceGroupId}
    </delete>

    <select id="selectScaleHistory" parameterType="skt.eiweb.admin.model.ScaleHistory" resultType="skt.eiweb.admin.model.ScaleHistoryDto">
        SELECT * FROM (
            SELECT @rnum := @rnum + 1 AS no, TAB.* FROM (
                SELECT DATE_FORMAT(execute_date, '%Y-%m-%d %H:%i:%s') execute_date, 
                       execute_date ord,
                       server_name,
                       action,
                       user_id
                  FROM rest_exec_history 
                 WHERE 1 = 1
                <if test="serverName != null"> AND upper(server_name) = upper(#{serverName})</if>
                <if test="scaleInOutType != null"> AND upper(action) LIKE upper(#{scaleInOutType})</if>
                <if test="startDate != null and endDate != null">
                   AND execute_date BETWEEN STR_TO_DATE(CONCAT(#{startDate}, '000000'), '%Y%m%d%H%i%S') AND STR_TO_DATE(CONCAT(#{endDate}, '235959'), '%Y%m%d%H%i%S')
                </if>
            ) TAB, (SELECT @rnum :=0) B
          ORDER BY ord DESC
        ) OTAB
         WHERE no BETWEEN (((#{page} - 1) * #{pageCount}) + 1) AND (#{page} * #{pageCount})
    </select>

    <select id="selectScaleHistoryTotalCount" parameterType="skt.eiweb.admin.model.ScaleHistory" resultType="int">
        SELECT COUNT(*) totalCount 
          FROM rest_exec_history WHERE 1 = 1
        <if test="serverName != null"> AND upper(server_name) = upper(#{serverName})</if>
        <if test="scaleInOutType != null"> AND upper(action) LIKE upper(#{scaleInOutType})</if>
        <if test="startDate != null and endDate != null">
           AND execute_date BETWEEN STR_TO_DATE(CONCAT(#{startDate}, '000000'), '%Y%m%d%H%i%S') AND STR_TO_DATE(CONCAT(#{endDate}, '235959'), '%Y%m%d%H%i%S')
        </if>
    </select>

    <insert id="insertScaleHistory" parameterType="skt.eiweb.admin.model.ScaleHistory">
        INSERT INTO scale_history 
               (run_date, user_id, server_name, action)
        VALUES (current_timestamp, #{userId}, #{serverName}, #{action})
    </insert>

    <select id="deviceList" parameterType="skt.eiweb.admin.model.Device" resultType="skt.eiweb.admin.model.Device">
        SELECT code_name server_name, code instance, value role
          FROM common_code cd INNER JOIN common_group grp ON grp.group_code = cd.group_code
         WHERE grp.GROUP_CODE='SCALE_IN_OUT_LIST'
           AND grp.use_yn='Y' 
           AND cd.USE_YN='Y'
        <if test="schKey != null">
           AND (code_name LIKE CONCAT('%', #{schKey}, '%')
            OR code LIKE CONCAT('%', #{schKey}, '%'))
        </if>
         ORDER BY cd.sort
    </select>

    <!-- 서비스 그룹 관리 _ begin -->
    <select id="selectServiceGroupList" parameterType="skt.eiweb.admin.model.ServiceGroup" resultType="skt.eiweb.admin.model.ServiceGroupDto">
        SELECT * FROM (
            SELECT @rnum := @rnum + 1 AS no, TAB.* FROM (
                SELECT DATE_FORMAT(creation_date, "%Y-%m-%d") creation_date,
                       creation_date ord,
                       service_group_name,
                       description
                  FROM service_group
                 WHERE 1 = 1
                <if test="schKey != null">
                   AND service_group_name LIKE CONCAT('%', #{schKey}, '%')
                </if>
                <if test="serviceGroupName != null">
                   AND service_group_name = #{serviceGroupName}
                </if>
            ) TAB, (SELECT @rnum :=0) B
          ORDER BY ord DESC
        ) OTAB
         WHERE no BETWEEN (((#{page} - 1) * #{pageCount}) + 1) AND (#{page} * #{pageCount})
    </select>

    <select id="selectServiceGroupAllList" parameterType="skt.eiweb.admin.model.ServiceGroup" resultType="skt.eiweb.admin.model.ServiceGroupDto">
        SELECT DATE_FORMAT(creation_date, "%Y-%m-%d") creation_date, 
               service_group_name,
               description
          FROM service_group 
         WHERE 1 = 1
        <if test="schKey != null">
           AND service_group_name LIKE CONCAT('%', #{schKey}, '%')
        </if>
         ORDER BY creation_date
    </select>

    <select id="selectServiceGroupListTotalCount" parameterType="skt.eiweb.admin.model.ServiceGroup" resultType="int">
        SELECT COUNT(*) total_count 
          FROM service_group 
         WHERE 1 = 1
        <if test="schKey != null">
           AND service_group_name LIKE CONCAT('%', #{schKey}, '%')
        </if>
    </select>

    <insert id="insertServiceGroup" parameterType="skt.eiweb.admin.model.ServiceGroup">
        INSERT INTO service_group
               (creation_date, service_group_name<if test="description != null">, description</if>) 
        VALUES (current_timestamp, #{serviceGroupName}<if test="description != null">, #{description}</if>)
    </insert>

    <!-- <update id="udpateServiceGroup" parameterType="skt.eiweb.admin.model.ServiceGroup">
        UPDATE service_group
           SET service_group_name = #{serviceGroupName} 
         WHERE service_group_name = #{serviceGroupName}
    </update> -->

    <select id="countServiceGroupByServiceGroupName" parameterType="skt.eiweb.admin.model.ServiceGroup" resultType="int">
        SELECT COUNT(*) FROM service_group WHERE service_group_name = #{serviceGroupName}
    </select>

    <delete id="deleteServiceGroup" parameterType="skt.eiweb.admin.model.ServiceGroup">
        DELETE FROM service_group WHERE service_group_name = #{serviceGroupName}
    </delete>

    <select id="useServiceGroup" parameterType="skt.eiweb.admin.model.ServiceGroup" resultType="int" >
        SELECT COUNT(*) FROM service WHERE service_group_name = #{serviceGroupName}
    </select>
    <!-- 서비스 그룹 관리 _ end -->

</mapper>
